

<div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
        <li><a href="#" class="active">
                <i class="fas fa-tachometer-alt"></i>
                <span>DashBoard</span>
            </a></li>
            <li><a href="./Employee.html">
                <i class="fas fa-tachometer-alt"></i>
                <span>Patient Details</span>
            </a></li>
            <li><a href="./Hostel_Student.html">
                <i class="fas fa-tachometer-alt"></i>
                <span>Patient Registration</span>
            </a></li>
        <li><a href="/appointment">
                <i class="fas fa-user"></i>
                <span>Appointment </span>
            </a></li>
        
        <li><a href="./visitor.html">
                <i class="fas fa-tachometer-alt"></i>
                <span>Doctors</span>
            </a></li>
        <li><a href="#">
                <i class="fas fa-tachometer-alt"></i>
                <span>Lab</span>
            </a></li>
        <li><a href="./Employee.html">
                <i class="fas fa-tachometer-alt"></i>
                <span>Prescription</span>
            </a></li>
            <li><a href="./Employee.html">
                <i class="fas fa-tachometer-alt"></i>
                <span>Staff</span>
            </a></li>
           
        <li><a href="#">
                <i class="fas fa-sign-out-alt"></i>
                <span>Logout</span>
            </a></li>

    </ul>
</div>



